/* Resetowanie marginesów i paddingów dla całej strony */
body, html {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wstep {
    background-color: #322D3F;
    width: 100%;
    height: 900px;
    position: relative;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    font-family: 'Segoe UI';
}

a {
    text-decoration: none;
    color: #d9d9d9;
    font-weight: normal;
    font-size: 18px;
    margin: 0 20px; /* Odległość między odnośnikami przy pełnej rozdzielczości */
}

a:hover{
    color: #ffffff;
    font-weight: 500;
}

h1,
h2,
h3 {
    font-family: 'Segoe UI';
    margin-left: 10%;
    margin-right: 10%; /* Dodano margines z prawej strony */
    color: #222;
    text-align: left;
}

h1 {
    color: #d9d9d9;
    font-size: 50px;
    font-weight: 500;
}

h2 {
    color: #d9d9d9;
    font-size: 70px;
    font-weight: 700;
}

h3 {
    color: #222;
    font-weight: 400;
    font-size: 2vw; /* Rozmiar dla wersji mobilnej */
    text-align: center; /* Wyśrodkowanie tekstu */
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;  /* Ukrywanie tekstu, który może wychodzić poza ekran */
}

.omnie-tekst{
    color: #222;
}

.obrazek {
    width: 25vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
}

/* Styl dla urządzeń mobilnych (o szerokości do 850px) */
@media screen and (max-width: 850px) {
    h1, h2, h3 {
        text-align: center;
        margin-left: 0;
        margin-right: 0; /* Zerowanie marginesu z prawej strony */
    }

    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 12vw;
    }

    h3 {
        font-size: 4vw; /* Dostosowany rozmiar dla jeszcze lepszego wyśrodkowania */
        margin-left: 10px;
        margin-right: 10px;
        font-weight: 400;
    }

    .obrazek {
        display: none;
    }

    .toggle-container {
        max-width: 100%; /* Zmieniono maksymalną szerokość dla urządzeń mobilnych */
    }
    
    .toggle-button, .toggle-content {
        padding: 10px; /* Dostosowano padding dla urządzeń mobilnych */
    }

    #certyfikaty img{
        width: 40em;
        height: 40em;
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    .toggle-container {
        width: calc(100% - 40px); /* Szerokość 100% minus marginesy po obu stronach */
    }

    .toggle-button,
    .toggle-content {
        padding: 15px;
    }
}


/* poczatek technologii */
/* Styl dla poszczególnych sekcji */
#umiejetnosci,
#technologie {
    background-color: #322D3F;
    padding: 20px 0;
    text-align: center;
}

#umiejetnosci h1,
#umiejetnosci h2,
#umiejetnosci h3,
#technologie h1 {
    margin-left: 0;
    margin-right: 0;
}

#technologie h1 {
    margin-bottom: 20px;
    color: #d5d5d5;
    font-size: 2em;
}

/* Styl dla bloków toggle */
.toggle-container {
    width: calc(33.33% - 40px); /* 33.33% szerokości minus marginesy po obu stronach */
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.toggle-button,
.toggle-content {
    padding: 10px;
    margin: 0;
    color: #222;
    background-color: #d5d5d5;
}

.toggle-button {
    background-color: #f1f1f1;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-content {
    display: none;
}

/* Styl dla ikonki */
.iconka {
    height: 2.5em; /* Zwiększono rozmiar ikonki */
    width: 2.5em;
}

/* Styl dla tekstu nagłówka w sekcji umiejętności */
#umiejetnosci h1 {
    margin-bottom: 20px;
    color: #d5d5d5;
    font-size: 2em; /* Dostosowano rozmiar dla lepszego wyglądu */
}

/* Styl dla bloków toggle dla urządzeń mobilnych */
@media screen and (max-width: 600px) {
    .toggle-container {
        width: calc(100% - 40px); /* Szerokość 100% minus marginesy po obu stronach */
    }

    .toggle-button,
    .toggle-content {
        padding: 15px;
    }
}

/* Styl dla ikonki na urządzeniach mobilnych */
@media screen and (max-width: 600px) {
    .iconka {
        height: 2.5em;
        width: 2.5em;
    }
}

/* Styl dla języków w sekcji umiejętności */
.umiejetnosci-jezyki {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.jezyki-nagl{
    font-weight: 500;
}


/* koniec technologii */









#certyfikaty h1{
    color: #222;
}

#certyfikaty img{
    width: 20vw;
    height: 20vw;
    display: block;
    margin: auto;
}

#kontakt{
    height: 150px;
    background-color: #222;
}

#kontakt img{
    height: 2.5em;
    width: 2.5em;
    filter: invert(100%);
}

.sociale {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.sociale img {
    margin: 0 0.5em; 
    
}

#projekty{
    background-color: #322D3F;
}

.projekt {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.projektobraz {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
}


.projekttresc {
    padding: 20px;
}

.projekt h4 {
    margin-top: 0;
    color: #222;
}

.projekt p {
    color: #333;
}

@media screen and (max-width: 600px) {
    .projekt {
        border-radius: 15px;
    }
}

#powiadomienie{
    display: none;
    position: fixed;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    transition: opacity 0.5s;
}